### `Q1`. What is a database? Differentiate between SQL and NoSQL databases.

- A database is a collection of organized and structured data that can be accessed, managed, and updated by computer systems. 
- It can be used to store and retrieve large amounts of data quickly and efficiently. 
- A database typically consists of one or more tables, each of which contains a set of records or rows, and each record contains a set of fields or columns.

#### 1. SQL (Structured Query Language) databases:

- SQL databases use a structured data model and store data in tables, which consist of rows and columns.
- SQL databases are relational, which means they store data in a structured way that allows for efficient querying and data analysis.
- SQL databases use SQL, a language used for managing and manipulating data stored in the database.
- SQL databases are best suited for complex queries, and they are often used in applications that require high levels of data consistency and reliability.

#### 2.  NoSQL (Not Only SQL) databases:

- NoSQL databases use a non-structured data model and store data in different formats such as documents, key-value pairs, graphs, or column families.
- NoSQL databases are non-relational, which means they don't enforce a strict schema, and can easily handle unstructured or semi-structured data.
- NoSQL databases offer high scalability and performance as they can handle large amounts of data across distributed systems.
- NoSQL databases are better suited for applications that require high levels of flexibility and scalability, such as those dealing with real-time data.

### `Q2`. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

- DDL stands for `Data Definition Language`, which is a subset of SQL (Structured Query Language) used to define and manage the structure of database objects, such as tables, views, indexes, and constraints.
- DDL statements are used to create, modify, and delete database objects.
- here the example :

####  1.`CREATE` statement:
- The `CREATE` statement is used to create new database objects. 
- For example, to create a new table in a database called "employees" with columns for the employee ID, name, and salary.

In [ ]:
CREAT TABLE employees(
    employee_id INT,
    name VARCHAR,
    salary DECIMAL
);

#### 2. `DROP` statement:
- The `DROP` statement is used to delete existing database objects. 
- For example, to delete the "employees" table that we created above.

In [ ]:
DROP TABLE employees;

#### 3.`ALTER` statement:
- The `ALTER` statement is used to modify the structure of existing database objects. 
- For example, to add a new column called "age" to the "employees" table.

In [ ]:
ALTER TABLE employees ADD age INT;

#### 4.`TRUNCATE` statement:
- The `TRUNCATE` statement is used to delete all data from a table without deleting the table structure itself.
- For example, to delete all the data from the

In [ ]:
TRUNCATE TABLE employees;

### `Q3`. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML is stands for `Data Manipulation Language`, which is a subset of SQL that is used to manipulate data stored in a database.
- The three primary DML statements are INSERT, UPDATE, and DELETE, which are used to insert, modify, and delete data, respectively.
- Here are examples:

#### 1.`INSERT` statement:
- The `INSERT` statement is used to insert new data into a table.
- For example, let's say we have a table called "employees" with columns for the employee ID, name, and salary, and we want to add a new employee to the table.

In [ ]:
INSERT INTO employees VALUES (1, 'utkarsh', 50000);

#### 2. `UPDATE` statement:
- The UPDATE statement is used to modify existing data in a table.
-  For example, let's say we want to update the salary of the employee with an employee ID of 1 to 60000

In [ ]:
UPDATE employees SET salary = 60000 WHERE employee_id = 1;

#### 3. `DELETE` statement:
- The DELETE statement is used to delete existing data from a table. 
- For example, let's say we want to delete the employee with an employee ID of 1 from the "employees" table.

In [ ]:
DELETE FROM employees WHERE employee_id = 1;

### `Q4`. What is DQL? Explain SELECT with an example.

- DQL is `Data Query Language` , which is subset of SQL that is used to query or retrieve data from a database. 
- The primary DQL statement is SELECT, which is used to retrieve data from one or more tables in a database

####  `SELECT` statement :
- for example ,Let's assume we have a table called "employees" with columns for the employee ID, name, department, and salary. and we want to call two columns employee_id and name

In [ ]:
SELECT name, salary FROM employees ;

### `Q5`. Explain Primary Key and Foreign Key.

- In a relational database, a primary key and a foreign key are used to define the relationships between tables.

#### `Primary key` : 
- A primary key is a unique identifier for a row in a table.
- It must be unique and not null for every row in the table. 
- It is used to enforce data integrity and ensure that there are no duplicate rows in the table.
- example:

In [ ]:
CREATE TABLE users (
  user_id INT PRIMARY KEY,
  username VARCHAR(50),
  email VARCHAR(50),
  password VARCHAR(50));

#### `Foreign key`:
- A foreign key is a column in one table that references the primary key of another table. 
- It is used to enforce referential integrity and ensure that data is consistent across multiple tables. 
- A table can have multiple foreign keys.
- example:

In [ ]:
CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  user_id INT,
  product_name VARCHAR(50),
  quantity INT,
  FOREIGN KEY (user_id) REFERENCES users(user_id));

### `Q6`. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

- The `cursor()` method creates a new cursor object that allows you to execute SQL statements and fetch data from the database. The cursor is like a pointer or handle to a specific result set, and it provides methods for executing SQL statements, fetching data, and managing transactions.

- The `execute()` method is used to execute an SQL query or command on the database. In the given code, mycursor.execute("SHOW DATABASES") executes the SQL statement "SHOW DATABASES", which returns a list of all the databases in the MySQL server.

- After executing the query, we use a for loop to iterate over the result set returned by the `execute()` method, and print each database name using the` print()` function

### `Q7`. Give the order of execution of SQL clauses in an SQL query.

1. FROM: This clause specifies the table or tables from which the data is being retrieved.

2. JOIN: This clause is used to join two or more tables based on a common column.

3. WHERE: This clause is used to filter the data based on one or more conditions.

4. GROUP BY: This clause is used to group the data based on one or more columns.

5. HAVING: This clause is used to filter the grouped data based on one or more conditions.

6. SELECT: This clause is used to specify the columns that should be retrieved from the table(s).

7. DISTINCT: This clause is used to retrieve only unique values for the specified columns.

8. ORDER BY: This clause is used to sort the data based on one or more columns.

9. LIMIT: This clause is used to limit the number of rows that are retrieved from the table(s).